.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 35px;
}
.content {
  display: flex;
  gap: 20px;
}
.cards_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.box {
  height: 120px;
  width: 250px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 4px;
}
.box:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.box_content {
  text-align: center;
  margin-top: 20px;
  color: rgb(30, 26, 26);
}
.rechart_box {
  height: 300px;
  width: 520px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.rechart_box:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.recart_card {
  height: 300px;
  width: 520px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: relative;
  overflow:hidden;
}
.rechart_box:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.rechart_box:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.circular {
  width: 100%;
  height: 300px;
  background-color: aqua;
}

.flightImage img {
  height: 150px;
  width: 150px;
  margin-top: -40px;
  animation: slide 2s linear infinite ;
  position: absolute;
  z-index: 10;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(380px);
    }
}

.cloudes{
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

/* .cloudes img{
  height: 70px;
  width: 100px;
  animation: cloud 3s linear 1s infinite;
  margin-left: 520px;
}
@keyframes cloud{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(380);
      margin-left: -400px;
    }
} */

.cloudImage2{
  height: 70px;
  width: 100px;
  margin-top: -10px;
}

.Link{
  text-decoration: none;
  color: black;
}