@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Sidebar_content{
    height: calc(100vh - 60px);
    width: 200px;
    border-right: 0.1px solid gray;
    background-color: white;
    display  : flex;

}

.SidebarLink{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:10px;
}
.Sidebar_Comp{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font: bold;
    } 

.Sidebar_Comp:active{
    color: black;
}