*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Sidebar_content{
    height: calc(100vh - 60px);
    width: 200px;
    border-right: 0.1px solid gray;
    background-color: white;
    /* display: flex; */
}